{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">

            <select class="form-control" name="symbol" type="select">
                {% for symbol in symbols %}
                    <option value= "{{symbol}}" SELECTED>{{symbol}}</option>
                {% endfor %}
                <option value="placeholder_symbol" disabled selected hidden>Choose symbol</option>
            </select>

        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" placeholder="Shares" name="shares" type="text">
        </div>
            <button class="btn btn-primary" type="submit">Sell</button>

    </form>
{% endblock %}